.reviews {
    .content {
        display: flex;
        margin-top: 60px;
        margin-bottom: 48px;
        padding: 0 20px;

        &__img {
            width: 30%;
            height: 30%;
            margin-right: 60px;
        }

        &__text {
            &__title {
                font-weight: 700;
                font-size: 18px;
            }

            &__subtitle {
                font-weight: 500;
                font-size: 14px;
                color: #646464;
                line-height: 10px;
            }

            &__descr {
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}